<%- include('../partials/header') %>
<%= drink %>

<div class="form-container">
<div class="details">
    <h3>Add A Review For</h2>
    <h2><%= drink.label.replace('-', ' ')%></h2>
</div>
    
    <form class="review-form" action="/drinks/reviews/<%= drink._id %>" method="post">
        <input type="hidden" name="drinkId" value="<%= drink._id %>">
        
        <div class="star-rating">
            <p><strong>Taste</strong><br>needs no explanation, but did it suck or not?</p>
            <div class="rating">
                <input value="5" name="taste" id="star5" type="radio"><label title="text" for="star5"></label>
                <input value="4" name="taste" id="star4" type="radio"><label title="text" for="star4"></label>
                <input value="3" name="taste" id="star3" type="radio"><label title="text" for="star3"></label>
                <input value="2" name="taste" id="star2" type="radio"><label title="text" for="star2"></label>
                <input value="1" name="taste" id="star1" type="radio"><label title="text" for="star1"></label>
              </div>
        </div>
        <div class="star-rating">
            <p><strong>Presentation</strong><br> if there was a dried piece of fruit on your drink, it's an automatic five stars.</p>
            <input type="radio" name="presentation" class="star-rating" value="1">
            <input type="radio" name="presentation" class="star-rating" value="2">
            <input type="radio" name="presentation" class="star-rating" value="3">
            <input type="radio" name="presentation" class="star-rating" value="4">
            <input type="radio" name="presentation" class="star-rating" value="5">
        </div>
        <div class="star-rating">
            <p><strong>Vibe Check</strong><br> what were the vibes of the restaurant like?</p>
            <input type="radio" name="localVibe" class="star-rating" value="1">
            <input type="radio" name="localVibe" class="star-rating" value="2">
            <input type="radio" name="localVibe" class="star-rating" value="3">
            <input type="radio" name="localVibe" class="star-rating" value="4">
            <input type="radio" name="localVibe" class="star-rating" value="5">
        </div>
        <div class="star-rating">
            <p><strong>Price</strong><br> yah it was good, but was it what-you-paid-for good?</p>
            <input type="radio" name="price" class="star-rating" value="1">
            <input type="radio" name="price" class="star-rating" value="2">
            <input type="radio" name="price" class="star-rating" value="3">
            <input type="radio" name="price" class="star-rating" value="4">
            <input type="radio" name="price" class="star-rating" value="5">
        </div>
        <div class="comment">
            <p>leave a comment</p>
            <textarea name="comment" id=""></textarea>
        </div>
        <div class="restaurant">
            <p>Where'd you enjoy this drink?</p>
            <input type="text" name="restaurant" id="" placeholder="enter bar or restaurant name">
        </div>
        <div class="locale">
            <p>Where ya at?</p>
            <div>
                <input type="text" name="city" id="" placeholder="city">
                <input type="text" name="state" id="" placeholder="state">
            </div>
            <button type="submit">add review</button>
        </div>
        
        
    </form>
</div>
    <%- include('../partials/footer') %>