<%- include('../partials/header') %>

<div class="drink-reviews-header">
  <div
    class="image"
    style="background-image: url('/images/cocktail-<%=drink.label%>.jpg')"
  ></div>
  <div class="drink-details">
    <h1><%= removeDash(drink.label) %></h1>

    <div class="review-overview">
      <div class="review-row">
        <p>overall score</p>
        <div class="review-score"><%= overallScore %></div>
      </div>
      <div class="review-row">
        <p>best city</p>
        <div class="review-score">Chattanooga, TN</div>
      </div>
      <div class="review-row">
        <p>best restaurant</p>
        <div class="review-score">Tremont Tavern</div>
      </div>
    </div>
    <a class="btn-primary" href="/drinks/form/<%= drink._id %>">add review</a>
  </div>
</div>

<div class="drink-banner">
  <div class="container">
    <p class="subtitle">see what the people are saying</p>
    <p class="filters">filters</p>
  </div>
</div>

<div class="reviews-container">
  <% if (!drink.reviews.length) { %>
  <h3>No Reviews yet...</h3>
  <% } %> <% drink.reviews.forEach(review => { %>
  <div class="review-card">
    <div class="review-card_top">
      <div class="user-info">
        <img
          src="<%= review.userIcon %>"
          alt="icon"
          referrerpolicy="no-referrer"
        />
        <div class="user-date">
          <p class="name"><%= review.userName %></p>
          <p></p>
          <p class="date"><%= getDate(review.createdAt) %></p>
        </div>
      </div>
    </div>
    <div class="review-card_bottom">
      <p><%= review.comment %></p>
      <div class="review-card_scorecard">
        <div class="scorecard-block">
          <h3><%= review.taste %> <span>/5</span></h3>
          <div class="sub-title">taste</div>
        </div>

        <div class="scorecard-block">
          <h3><%= review.presentation %> <span>/5</span></h3>
          <div class="sub-title">presentation</div>
        </div>

        <div class="scorecard-block">
          <h3><%= review.localVibe %> <span>/5</span></h3>
          <div class="sub-title">locale vibe</div>
        </div>

        <div class="scorecard-block">
          <h3><%= review.price %> <span>/5</span></h3>
          <div class="sub-title">price</div>
        </div>

        <div class="scorecard-block">
          <% const allScores = [review.taste, review.presentation,
          review.localVibe, review.price] %>
          <h3><%= getUserScore(allScores) %> <span>/5</span></h3>
          <div class="sub-title">overall</div>
        </div>
      </div>
    </div>
    <a href="/restaurant/view/<%= review.restaurant %>" class="restaurant-label">
      <%= review.restaurant %> / <%= review.city %>, <%= review.state %>
      <img src="/images/arrow.svg" alt="" />
    </a>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
