<%- include('../partials/header') %>

<div class="drink-reviews-header">
    <div class="image">
    </div>
    <div class="drink-details">
        <div class="main-headline">
            <%= removeDash(drink.label) %>
        </div>
        <div class="review-overview">
            <div class="review-row">
                <p>overall score</p>
                <div class="review-score">
                    5/5
                </div>
            </div>
            <div class="review-row">
                <p>best city</p>
                <div class="review-score">
                    Chattanooga, TN
                </div>
            </div>
            <div class="review-row">
                <p>best restaurant</p>
                <div class="review-score">
                    Tremont Tavern
                </div>
            </div>
            
        </div>
        <a class="btn-primary" href="/drinks/form/<%= drink._id %>">add review</a>
    </div>
</div>

<div class="drink-banner">
    <div class="subtitle">see what the people are saying</div>
    <div class="filters">filters</div>
</div>

<div class="reviews-container">
  <% drink.reviews.forEach(review => { %>
    <div class="review-card">
        <div class="review-card_top">
            <div class="user-info"><img src="<%= review.userIcon %>" alt="icon" referrerpolicy="no-referrer"> <span><%= review.userName %></span></div>
            <%= review.restaurant %> / <%= review.city %>, <%= review.state %>
        </div>
        <div class="review-card_bottom">
            <p><%= review.comment %></p>
            <div class="review-card_scorecard">
                <div class="scorecard-block">
                    <h3><%= review.taste %> <span>/5</span> </h3>
                    <div class="sub-title">taste</div>
                </div>
                
                <div class="scorecard-block">
                    <h3><%= review.presentation %> <span>/5</span> </h3>
                    <div class="sub-title">presentation</div>
                </div>
                
                <div class="scorecard-block">
                    <h3><%= review.localVibe %> <span>/5</span> </h3>
                    <div class="sub-title">locale vibe</div>
                </div>
                
                <div class="scorecard-block">
                    <h3><%= review.price %> <span>/5</span> </h3>
                    <div class="sub-title">price</div>
                </div>
                
                <div class="scorecard-block">
                    <% const allScores = [review.taste, review.presentation, review.localVibe, review.price] %>
                    <h3><%= getUserScore(allScores) %> <span>/5</span> </h3>
                    <div class="sub-title">overall</div>
                </div>
                
            </div>
        </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>