<%- include('./partials/header') %>


  <div class="main-hero">
    <h1>discover the perfect pour with cheersly</h1>
  </div>
  <div class="search-section">
    <form action="" class="main-search">
      <div class="main-search">
        <input type="text" class="main-search-bar">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  
  <div class="index-drinks-section">
    <% allCategories.forEach(category => { %>
      <% const bgColor = getBgColor(category) %>
      <a href="/categories/drinks/<%= category %>"  class="card">
        <div class="image" style="background-image: url('/images/category-<%= category %>.jpg');"></div>
        <div class="card-details">
          <h2><%= category %></h2>
          <p><%= category.length %></p>
        </div>      
      </a>
      <% }) %>
    </div>

<%- include('./partials/footer') %>
