<%- include('./partials/header') %>

<div class="main-hero">
  <div class="image"></div>
  <div class="content">
    <h1>discover the <br />perfect pour with <br>cheersly</h1>
  
    <a href="">view all drinks</a>
  </div>
</div>

<div class="banner">
  <div class="container">
    <% drinks.forEach(drink => { %>
    <div class="label"><%= drink.label.replace('-', ' ') %></div>
    <% }) %>
  </div>
</div>

<div class="index-drinks-section">
  <h3>View by Categories</h3>
  <div class="container">
    <% allCategories.forEach(category => { %> <% const bgColor =
    getBgColor(category) %>
    <a href="/categories/drinks/<%= category %>" class="card">
      <div
        class="image"
        style="background-image: url('/images/category-<%= category %>.jpg')"
      ></div>
      <div class="card-details">
        <h2><%= category %></h2>
        <img src="/images/arrow.svg" alt="">
        </div>
    </a>
    <% }) %>
  </div>
  </div>

<%- include('./partials/footer') %>
