<%- include('./partials/header') %>
<div class="header max-width">
  <div class="main-headline">
    discover the<br>perfect pour <br>with cheersly
  </div>
  <div class="main-image"></div>
</div>

<div class="search-section">
  <form action="" class="main-search">
    <div class="main-search">
      <input type="text" class="main-search-bar">
      <button type="submit">Search</button>
    </div>
  </form>
</div>

<div class="index-drinks-section">
  <% allCategories.forEach(category => { %>
    <% const bgColor = getBgColor(category) %>
    <a href="/categories/drinks/<%= category %>"  class="drink-container">
      <div class="category-card-top">
        <h2><%= category %></h2>
        <p><%= category.length %></p>
      </div>      
    </a>
  <% }) %>
</div>
<%- include('./partials/footer') %>
