<%- include('../partials/header') %>
<div class="category-main-title">
  
      <div class="category-sub-nav">categories / <%= category %></div>
  
  All <%= category %>
</div>

<div class="category-drink-container">

   <% drinks.forEach(drink => { %>
      <a href="/drinks/reviews/<%= drink._id %>" class="category-drink-card">
       
         <h2><%= drink.label %></h2>
         <div class="sub-copy">reviews: <%= drink.reviews.length %></div>
      </a>
      <% }) %>
   </div>

<%- include('../partials/footer') %>
